.grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 270px) 200px;
  gap: 5px;
}

.item {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 29px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 3px #000000aa;
  transition: background 0.3s;
}

.item a p {
  background-color: #1373e3;
  padding: 7px 12px;
  font-size: 11px;
  font-weight: 100;
  text-shadow: 0 0 black;
}

.item a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Grid Positioning */
.item6 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url("../components/Assets/furn-patio.png");
}
.item5 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url("../components/Assets/woodenbar.webp");
}
.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url("../components/Assets/inspiration.webp");
}
.item4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  background-image: url("../components/Assets/oneinspiration.webp");
}
.item1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("../components/Assets/modernbed.webp");
}
.item2 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  background-image: url("../components/Assets/livingroom.webp");
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item {
    grid-column: auto !important;
    grid-row: auto !important;
    height: 200px;
  }
}
